$icomoon-font-family: "icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-car-icon: "\e904";
$icon-list-icon: "\e905";
$icon-location-icon: "\e906";
$icon-zoom_out: "\e901";
$icon-gps: "\e902";
$icon-pin: "\e903";
$icon-gas-station: "\e900";

