
.icon-filter:before { content: '\e800'; } /* '' */
.icon-location-arrow:before { content: '\e801'; } /* '' */
.icon-map-marker:before { content: '\e802'; } /* '' */
.icon-crosshairs:before { content: '\e803'; } /* '' */