@import '~vue-mobile-viewport-height/src/mobile-viewport-height.scss';
@import 'fonts-icons';

:root {
  --color-primary: #167ace;
  --color-secondary: #373d5d;
  --color-dark: #030417;
  --color-light: #f5f7fa;
  --color-brand: #b4c2d5;
  --color-fade: #616a89;

  --color-primary-dark: #0039ad;
  --color-primary-defaul: #0045bf;
  --color-primary-light: #296be8;
  --color-default: #00affc;
  --color-secondary-dark: #435280;
  --color-secondary-default: #aebdd5;
  --color-secondary-light: #ecf3ff;
}

main {
  @include mobile-viewport-height();
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  overscroll-behavior: contain;
  @include mobile-viewport-height();
}

body,
html {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  @apply min-h-full grid text-secondary;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;
}

#app {
  @apply min-h-full relative bg-local bg-right-bottom bg-no-repeat bg-auto h-full font-display text-secondary;
  &::after {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -10;
    @apply absolute inset-0 w-full h-full bg-no-repeat bg-contain bg-right-bottom;
    @screen lg {
      @apply bg-right-bottom;
    }
    background-image: url('~assets/img/background_shape.svg');
  }
}
h1 {
  @apply text-xl font-extrabold my-8 leading-tight;
  @screen md {
    @apply text-5xl leading-snug;
  }
}
h2 {
  @apply text-xl font-normal my-8 leading-normal;
  @screen md {
    @apply leading-relaxed;
  }
}
h3 {
  @apply mb-4 text-3xl font-bold leading-tight;
  @screen md {
    @apply text-4xl mb-8;
  }
}
h4 {
  @apply text-lg font-bold;
}

.bg-slickLight {
  --tw-bg-opacity: 1;
  background-color: rgba(245, 247, 250, var(--tw-bg-opacity));
}

.nuxt-link-active span {
  @apply text-white bg-primary_dark;
}

.largeButton {
  @apply block w-full max-w-xs rounded-lg px-3 py-3 bg-primary_dark text-white font-bold text-lg mb-8;
  &:hover {
    @apply bg-primary_light;
  }
}

.smallButton {
  @apply block w-full  rounded-lg px-2 py-2 bg-primary_dark text-white font-bold text-lg mb-8;
  &:hover {
    @apply bg-primary_light;
  }
}

.stationListItem {
  @apply flex flex-row w-full mb-2;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 2.6s cubic-bezier(0.16, 1, 0.3, 1);
}

.fade-enter {
  #map {
    transform: scale(2);
  }
  #stationList {
    transform: translateY(calc(100% + 0px));
  }
}
.fade-leave-active {
  transform: translateY(-31px);
}

.mapPin {
  margin: auto auto;
  position: relative;
  animation: animationWave cubic-bezier(0, 0.54, 0.53, 1) 3s;
  transform-origin: center;
  animation-fill-mode: forwards;
  animation-delay: 1.07s;
  animation-iteration-count: infinite;
}

@keyframes animationWave {
  0% {
    stroke-opacity: 0;
    stroke-width: 0;
    fill-opacity: 0;
    width: 0;
  }

  1% {
    stroke-opacity: 1;
  }

  5% {
    width: 20;
  }

  10% {
    stroke: rgba(32, 150, 243, 0.4);
    fill-opacity: 1;
  }

  11% {
    width: 15;
  }

  12% {
    width: 20;
  }

  90% {
    fill-opacity: 1;
  }

  100% {
    stroke-width: 50;
    fill-opacity: 0;
    stroke: rgba(32, 150, 243, 0);
  }
}

@keyframes animationDotCentral {
  0% {
    //transform:  scale(0) ;
    fill-opacity: 0;
  }

  5% {
    //transform:  scale(2) ;
  }

  10% {
    //transform:  scale(0.90) ;
    fill-opacity: 1;
  }

  11% {
    //transform:  scale(1.50) ;
  }

  12% {
    //transform:  scale(1.00) ;
  }

  28% {
    fill: rgba(32, 150, 243, 1);
  }

  29% {
    fill: rgba(255, 255, 255, 1);
  }

  31% {
    fill: rgba(32, 150, 243, 1);
  }

  33% {
    fill: rgba(255, 255, 255, 1);
  }

  35% {
    fill: rgba(32, 150, 243, 1);
  }

  90% {
    fill-opacity: 1;
  }

  100% {
    fill-opacity: 0;
  }
}

dl {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
dt {
  width: 50%;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}
dd {
  width: 50%;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

dd b {
  padding-left: 16px;
}
